.items {
  display: grid; // Раскомментируйте это!

  grid-template-rows: auto; // Измените на auto
  gap: 0.5rem;
  padding-left: 6px;
  margin-top: 55px;
  position: relative; // Для корректного margin
}

.catalog {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
  text-align: center;
  font-family: "CormorantSC", bold;
}
.link {
}
.button {
  position: absolute; // Абсолютное позиционирование

  margin-left: 778px;
  padding: 9px 13px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    background: #bebbd7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    color: rgb(255, 255, 255);
    transform: scale(1.06); // Увеличение на 10%
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.6); // Лёгкое свечение
  }
}
