.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  gap: 0px;
}

.heading {
  font-family: "CormorantSC", bold;
  color: black;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.hallInfo {
  display: flex;
  gap: 20px;
  font-family: "CormorantSC", sans-serif;
}

.hallType {
  margin-top: 6px;
  font-size: 16px;
  color: #555;
  padding: 4px 12px;
  background: #f0f0f0;
  border-radius: 4px;
}

.hallCapacity {
  font-size: 16px;
  color: #555;
  margin-top: 11px;
}
.address {
  font-family: "CormorantSC", bold;
  color: rgb(57, 56, 56);
  margin-top: 0px;
  font-size: 15px;
}
.button {
  &:hover {
    color: #ffffff;
    transform: scale(1.12);
    text-shadow: 0 0 12px rgba(138, 25, 229, 0.6);
  }
}

.icons {
  display: flex;
  gap: 14px;
  color: #f5f4f4;
  filter: drop-shadow(0 0 2px rgba(163, 0, 255, 0.4))
    drop-shadow(0 0 6px rgba(46, 185, 249, 0.8));
  text-shadow: 0 0 12px rgba(131, 104, 154, 0.4);
}

.firsticon {
  font-size: 25px;
  color: #f5f4f4;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    color: #ffffff;
    text-shadow: 0 0 12px rgba(115, 12, 199, 0.4);
    cursor: pointer;
    transform: scale(1.07);
  }
}
