.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-style: dashed;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
