.wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: absolute;
  z-index: 5; // Оверлей будет ниже, чем форма
  top: 100%; // Форма будет появляться под элементом
  right: 0.5rem;
  margin-top: 0.5rem;
  width: 16rem;
  background: #1f2937;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 50;
  animation: scaleIn 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.1rem; /* Увеличьте это значение для большего расстояния */
}

.button {
  border: none; /* заменяет border-none */
  outline: none; /* заменяет outline-0 */
  cursor: pointer;
  font-size: 1.725rem;
  line-height: 1.75rem;
  margin-right: 17px;

  background: none !important;
  border-radius: 100%;
  position: relative;

  /* Для лучшей доступности можно добавить фокус-стиль */
  &:focus {
    outline-offset: 1px;
  }
}
.userIcon {
  fill: #a4a4a4;
  width: 38px;
  height: 40px;
}

.userIcon:hover {
  transform: scale(1.03); /* увеличение при наведении */
}

.userIcon:active {
  transform: scale(0.95); /* лёгкое сжатие при клике */
}

.input {
  margin-bottom: 0.8rem; /* Отступ снизу каждого поля */
  height: 40px;
  border: 2px solid #b8babc; /* Серая обводка */
  border-radius: 6px; /* Закругление углов */
  transition: border-color 0.3s ease; /* Плавное изменение */
}

.form input::placeholder {
  padding-left: 10px; /* Отступ слева */
  padding-right: 10px; /* Отступ справа */
  color: #8f9297; /* Цвет текста плейсхолдера */
}
.form input:focus {
  border-color: #3f89ff; /* Синяя обводка при фокусе */
  outline: none; /* Убираем стандартный outline */
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2); /* Свечение */
}
.register {
  margin-top: 5px;
  font-size: 0.625rem;
}

.gradientOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(30, 30, 30, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 5;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}
