.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: none;
  transform: translateY(40%);
  height: 450px;
  width: 50px;
  min-width: 50px;
  margin-left: 218px;
  background-image: url("/Vector.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  > div {
    position: absolute;
    width: 100%;

    .logo {
      color: #730cc7;
      margin-bottom: 7px;
      font-size: 50px;
    }
    .menu {
      align-items: center;
      // margin-left: 8px;
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6px;
        transition: all;
        color: #acabb0;
        font-size: 27px;
        margin-top: 25px;
        &.dashboardItem {
          font-size: 29px;
          // line-height: 1.75rem;
        }

        &.active {
          font-size: 30px;
          color: #c4a6e3;
          filter: drop-shadow(0 0 2px rgba(163, 0, 255, 0.6))
            drop-shadow(0 0 6px rgba(46, 185, 249, 0.9));
          text-shadow: 0 0 10px rgba(221, 221, 221, 0.3);
        }

        &:hover {
          color: #baa3cb;
          filter: drop-shadow(0 0 2px rgba(163, 0, 255, 0.4))
            drop-shadow(0 0 6px rgba(46, 185, 249, 0.8));
          transform: scale(1.09);
          text-shadow: 0 0 12px rgba(115, 12, 199, 0.4);
        }

        > svg {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
