.input {
  display: flex;
  flex-direction: column;

  ::placeholder {
    padding-left: 10px;
    padding-right: 10px;
    color: #8f9297;
  }
  :focus {
    border-color: #3f89ff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
  }
}
.error {
  color: red;
  font-size: 0.75rem;
}
