.main {
  position: relative;
  position: fixed;
  width: 1000px;
  height: 700px;
  margin-top: 5px;
  border-radius: 30px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-color: #b8b5d0;
  color: #ffffff;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 2px 2px 17px rgba(129, 125, 219, 0.6);
}

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 52.8px);
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}
