.items {
  display: grid;

  grid-template-rows: auto;
  gap: 0.5rem;
  padding-left: 6px;
  margin-top: 65px;
  position: relative;
}

.catalog {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  font-family: "CormorantSC", bold;
}
.link {
}
.button {
  position: absolute;
  margin-left: 778px;
  padding: 9px 13px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    background: #bebbd7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    color: rgb(255, 255, 255);
    transform: scale(1.06);
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
  }
}
.heading {
  background: linear-gradient(90deg, #ffffff, #b7b1e8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
